@charset "UTF-8";

* {
  margin: 0px;
  font-family: Arial, Arial, Helvetica, sans-serif;
}

p {
  font-size: 20px;
}

header {
  background-color: #f7f7f7;
  height: 30vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu a {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 4px;
  margin-inline: 15px;
}

main {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  margin-bottom: 30px;
  padding: 50px;
}

.grid {
  max-width: 1000px;
  max-height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.descricao {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: end;
  gap: 20px;
  padding: 30px;
}

.descricao a {
  background-color: #ee2211;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  height: 40px;
  width: 130px;
  text-align: center;
  align-content: center;
}

imagem {
  width: 500px;
}

.imagem img {
  max-width: 100%;
  display: block;
}

.vantagens {
  display: flex;
  align-items: center;
  padding: 30px;
}

.vantagens h1 {
  font-size: 64px;
  color: #c6c6c6;
  text-align: end;
}

.grid-04 {
  background-color: white;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: 20px;
  row-gap: 50px;
}

footer {
  background-color: white;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
