@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans";
}

ul {
  list-style: none;
  display: flex;
}

@media (max-width: 700px) {
  header {
    display: flex;
    background-color: lightblue;
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  header {
    display: flex;
  }
}
