body {
  padding: 0px;
  font-family: Arial;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0px;
}

div {
  background-color: #111;
  border-radius: 4px;
  padding: 30px;
  margin: 20px;
  color: #fff;
}

span {
  color: #febe01;
}

p {
  color: #b2b2b2;
}

button {
  background-color: #febe01;
  color: #111;
  border-radius: 4px;
  height: 40px;
  width: 150px;
  font-size: 15px;
}
