* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}

p {
  font-size: 1.25rem;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #000;
  padding: 1rem 2rem;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 0.25rem;
}

a:hover {
  border: 2px solid red;
}

header {
  display: grid;
  padding: 1rem;
}

header img {
  margin: auto;
  padding: 1rem;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
