* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

div {
  background-color: black;
  margin: 20px 40px;
  border-radius: 4px;
  padding: 30px;
}

h2 {
  color: white;
}

span {
  color: #febe01;
}

p {
  color: #b2b2b2;
}

button {
  background-color: #febe01;
  padding: 15px;
  border-radius: 4px;
  font-size: 16x;
}
